<div id="content">
<div id="page-container">
<div div class="grid-row">
<h1 class="heading-large">Vacancy template</h1>
<div class="column-one-half">
	<h2 class="heading-medium">Form input</h2>
	
		<form>
			<fieldset>
				<legend>Application setup</legend>
		<div class="form-set">
				Name blind recruitment (hidden from vacancy holders)<br>
			<input id="not-select-blind" type="radio" name="blind-sift" value="Not selected"><label for="not-select-blind">Not selected</label>
			<input id="yes-select-blind" type="radio" name="blind-sift" value="Yes" checked><label for="yes-select-blind">Yes</label>
			<input id="no-select-blind" type="radio" name="blind-sift" value="No"><label for="no-select-blind">No</label>
		</div>
		<div class="form-set old current">
				Upload CV (current)<br>
			<input id="not-select-cv" type="radio" name="CV-upload" value="Not selected" checked><label for="not-select-cv">Not selected</label>
			<input id="yes-select-cv" type="radio" name="CV-upload" value="Yes"><label for="yes-select-cv">Yes</label>
			<input id="no-select-cv" type="radio" name="CV-upload" value="No"><label for="no-select-cv">No</label>
		</div>
		<div class="form-set old current">
				Upload additional attachment (current)<br>
			<input id="not-select-supporting" type="radio" name="supporting-upload" value="Not selected" checked><label for="not-select-supporting">Not selected</label>
			<input id="yes-select-supporting" type="radio" name="supporting-upload" value="Yes"><label for="yes-select-supporting">Yes</label>
			<input id="no-select-supporting" type="radio" name="supporting-upload" value="No"><label for="no-select-supporting">No</label>
		</div>
		<div id="support-statement" class="form-set enter-details">
			<label for="supporting-doc">Enter details (current)</label>
			<textarea name="enter-details" id="supporting-doc"></textarea>
		</div>

		<div class="form-set new">
			Ask for CV input (new)<br>
			<input id="not-select-cv-upload" type="radio" name="CV-new" value="Not selected" checked><label for="not-select-cv-upload">Not selected</label>
			<input id="yes-select-cv-upload" type="radio" name="CV-new" value="Yes"><label for="yes-select-cv-upload">Yes</label>
			<input id="no-select-cv-upload" type="radio" name="CV-new" value="No"><label for="no-select-cv-upload">No</label>
		</div>
		<div class="form-set skills-optional">
			Include a section for skills (new)<br>
			<input id="not-select-skills" type="radio" name="skills-new" value="Not selected" checked><label for="not-select-skills">Not selected</label>
			<input id="yes-select-skills" type="radio" name="skills-new" value="Yes"><label for="yes-select-skills">Yes</label>
			<input id="no-select-skills" type="radio" name="skills-new" value="No"><label for="no-select-skills">No</label>
		</div>
		<div class="form-set new">
			Ask for a Personal statement (new)<br>
			<input id="not-select-personal" type="radio" name="personal-new" value="Not selected" checked><label for="not-select-personal">Not selected</label>
			<input id="yes-select-personal" type="radio" name="personal-new" value="Yes"><label for="yes-select-personal">Yes</label>
			<input id="no-select-personal" type="radio" name="personal-new" value="No"><label for="no-select-personal">No</label>
		</div>

			</fieldset>
		</form>
</div>
<div class="column-one-half">
	<h2 class="heading-medium">Output scenarios</h2>
	<p>If name blind recruitment is yes or not selected:</p>
	<ul class="list list-bullet">
		<li class="blind-yes">anonymise application form</li>
		<li class="blind-yes">ask new CV/Personal statement questions</li>
		<li class="blind-yes">hide existing CV/additional attachment questions</li>
	</ul>
	<p>If new ask for CV question is yes:</p>
	<ul class="list list-bullet">
		<li class="cv-yes">add new CV section to app form</li>
		<li class="cv-yes">remove 'Job history' section</li>
		<li class="cv-yes">ask new do you want skills question</li>
	</ul>
	<p>If include a section on skills is yes:</p>
	<ul class="list list-bullet">
		<li class="skills-yes">add skills to new CV section</li>
	</ul>
	<p>If ask for a personal statement is yes:</p>
	<ul class="list list-bullet">
		<li class="statement-yes">add new personal statement section to app form</li>
	</ul>
	<p>If name blind recruitment is no:</p>
	<ul class="list list-bullet">
		<li class="blind-no">override anonymity</li>
		<li class="blind-no">ask existing CV/additional attachment questions</li>
	</ul>
	<p>If existing CV question is yes:</p>
	<ul class="list list-bullet">
		<li class="old-cv-yes">remove 'Job history' section</li>
		<li class="old-cv-yes">add existing CV upload section to app form</li>
	</ul>
	<p>If existing additional attachment question is yes:</p>
	<ul class="list list-bullet">
		<li class="attachment-yes">add existing upload attachment section to app form</li>
	</ul>
</div>
<div class="column-two-thirds">
	<h2 class="heading-medium">Acceptance criteria</h2>
	<p>Story 1:</p>
	<ul class="list list-bullet">
		<li>Replace existing override anonymisation question with 'Name blind recruitment' question</li>
		<li>Add new radio yes/no field 'Name blind recruitment'</li>
		<ul class="list list-bullet">
		<li>Hide field if user is a vacancy holder</li>
		<li>Default value to 'yes' for all departments via job family templates</li>
		<li>Users with recuiter role can see and edit value</li>
		</ul>
	<li>Add new radio yes/no field 'Upload CV'</li>
	</ul>
</div>
</div>
</div>
</div>