<div id="content">
<div id="page-container">
<div div class="grid-row">
<h1 class="heading-large">Vacancy template</h1>
<div class="column-one-half">
	<h2 class="heading-medium">Form input</h2>
	
		<form>
			<fieldset>
				<legend>Application setup</legend>
		<div class="form-set">
				Name blind recruitment (hidden from vacancy holders)<br>
			<input id="not-select-blind" type="radio" name="blind-sift" value="Not selected"><label for="not-select-blind">Not selected</label>
			<input id="yes-select-blind" type="radio" name="blind-sift" value="Yes" checked><label for="yes-select-blind">Yes</label>
			<input id="no-select-blind" type="radio" name="blind-sift" value="No"><label for="no-select-blind">No</label>
		</div>
		<div class="form-set old current">
				Upload CV (current)<br>
			<input id="not-select-cv" type="radio" name="CV-upload" value="Not selected" checked><label for="not-select-cv">Not selected</label>
			<input id="yes-select-cv" type="radio" name="CV-upload" value="Yes"><label for="yes-select-cv">Yes</label>
			<input id="no-select-cv" type="radio" name="CV-upload" value="No"><label for="no-select-cv">No</label>
		</div>
		<div class="form-set old current">
				Upload additional attachment (current)<br>
			<input id="not-select-supporting" type="radio" name="supporting-upload" value="Not selected" checked><label for="not-select-supporting">Not selected</label>
			<input id="yes-select-supporting" type="radio" name="supporting-upload" value="Yes"><label for="yes-select-supporting">Yes</label>
			<input id="no-select-supporting" type="radio" name="supporting-upload" value="No"><label for="no-select-supporting">No</label>
		</div>
		<div id="support-statement" class="form-set enter-details">
			<label for="supporting-doc">Enter details (current)</label>
			<textarea name="enter-details" id="supporting-doc"></textarea>
		</div>

		<div class="form-set new">
			Ask for CV input (new)<br>
			<input id="not-select-cv-upload" type="radio" name="CV-new" value="Not selected" checked><label for="not-select-cv-upload">Not selected</label>
			<input id="yes-select-cv-upload" type="radio" name="CV-new" value="Yes"><label for="yes-select-cv-upload">Yes</label>
			<input id="no-select-cv-upload" type="radio" name="CV-new" value="No"><label for="no-select-cv-upload">No</label>
		</div>
		<div class="form-set skills-optional">
			Include a section for skills (new)<br>
			<input id="not-select-skills" type="radio" name="skills-new" value="Not selected" checked><label for="not-select-skills">Not selected</label>
			<input id="yes-select-skills" type="radio" name="skills-new" value="Yes"><label for="yes-select-skills">Yes</label>
			<input id="no-select-skills" type="radio" name="skills-new" value="No"><label for="no-select-skills">No</label>
		</div>
		<div class="form-set new">
			Ask for a Personal statement (new)<br>
			<input id="not-select-personal" type="radio" name="personal-new" value="Not selected" checked><label for="not-select-personal">Not selected</label>
			<input id="yes-select-personal" type="radio" name="personal-new" value="Yes"><label for="yes-select-personal">Yes</label>
			<input id="no-select-personal" type="radio" name="personal-new" value="No"><label for="no-select-personal">No</label>
		</div>

			</fieldset>
		</form>
</div>
<div class="column-one-half hidden">
	<h2 class="heading-medium">Application form setup</h2>
	<p>Rules:</p>
	<ul class="list list-bullet">
		<li>Remove job history</li>
		<li>Add upload CV</li>
		<li>Add your CV</li>
		<li>Include skills in your CV</li>
		<li>Remove skills in your CV</li>
		<li>Add additional attachment upload</li>
		<li>Add personal statement e-form</li>
	</ul>
</div>
<div class="column-two-thirds">
	<h2 class="heading-medium">Acceptance criteria</h2>
	<p>Story 1:</p>
	<ul class="list list-bullet">
		<li>Add new radio yes/no field 'Blind sift'</li>
		<ul class="list list-bullet">
		<li>Hide field if user === vacancy holder</li>
		<li>Default value to 'yes' for all departments via job family templates</li>
		<li>Users with recuiter role can see and edit value</li>
		</ul>
	<li>Add new radio yes/no field 'Upload CV'</li>
	</ul>
</div>
</div>
</div>
</div>