@import '_grid_layout.scss';
@import '_colours.scss';
@import '_typography.scss';
@import 'design-patterns/_buttons.scss';
@import 'design-patterns/_alpha-beta.scss';
@import "elements/forms";

/*typography*/
h1 {
	@include heading-48;
}

h2 {
	@include heading-24;
}

p {
	@include copy-19;
}

ul, li {
	@include copy-19;
}

a.external-link {
	@include external-link-default;
	@include external-link-19;
}

/*Link style*/
a {
	color:$link-colour;
}

a:hover {
	color: $link-hover-colour;
	text-decoration: none;
}

a:visited {
	color: $link-visited-colour;
}

/*form style*/
input:focus {
	outline: none !important;
	border: 3px solid $focus-colour;
}

/*Button style*/
.button{
  @include button;
  @include copy-19;
}

/*Banner style*/
.phase-banner  {
  @include phase-banner(alpha);
}

/*Grid style*/
#page-container {
  @extend %site-width-container;
}
.grid-row {
  @extend %grid-row;

  .column-third {
    @include grid-column( 2/7 );
  }
  .column-two-thirds {
    @include grid-column( 5/7 );
  }
}

.column-two-thirds.right {
	float: right;
}

/*Progress tracker style*/

.prog-tracker {
	border-right: 1px solid $border-colour;
	padding-left: 0;

	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
		a {
			padding: 11px 10px 10px 5px;
			text-decoration: none;
			color: $govuk-blue;
			display: block;
		}

		a:hover {
			background-color: $panel-colour;
		}

		a:before {
			padding-left: 19px;
			content: "";
		}

		a:after {
			float: right;
			content: "\203A";
		}
	}
	.prog-item--active {
		a {
		background-color: $govuk-blue;
		color: #ffffff;
		}

		a:hover {
			background-color: $govuk-blue;
		}
	}
	}