<p>Summarise your career history and experience.  It needs to be concise, engaging and thorough.</p>

<p>Don't include any personal information that could identify you in any way.</p>

<p>Remove any reference to your:</p>

<ul class="list list-bullet">
	<li>name or title</li>
	<li>age or gender</li>
	<li>email address</li>
	<li>postal address or telephone number(s)</li>
	<li>nationality or immigration status</li>
	<li>educational institutions attended</li>
</ul>

<p>If you are a civil servant please don’t mention your employee number or department.</p>

<p>Further information is available on <%= link_to "GOV.UK", "https://civilservice.blog.gov.uk/2015/12/01/name-blind-recruitment-responding-to-your-comments/"%>.</p>