<p>Use your personal statement to explain why you’re right for the job.</p>

<p>Don’t include any personal information that could identify you.</p>

<p>This will help us ensure fairness when your application is reviewed and help us build a more diverse, inclusive workforce. Further information is available on <%= link_to "GOV.UK", "https://civilservice.blog.gov.uk/2015/12/01/name-blind-recruitment-responding-to-your-comments/"%>.</p>

<p>Remove any reference to your:</p>
<div id="personal-details">
<ul class="list list-bullet">
	<li>name or title</li>
	<li>age or gender</li>
	<li>email address</li>
	<li>postal address or telephone number</li>
	<li>nationality or immigration status</li>
</ul>
</div>