<p>You can:</p>
<ul class="list list-bullet">
	<li>explain your reasons for wanting the job</li>
	<li>explain how you’re right for the job</li>
	<li>say what you’ve done outside your immediate work area</li>
	<li>say why it’s relevant to the job you are applying for</li>
	<li>demonstrate any transferable skills</li>
	<li>expand on the most relevant skills</li>
</ul>
<p>Remove any reference to:</p>
<ul class="list list-bullet">
	<li>name or title</li>
	<li>age or gender</li>
	<li>email address</li>
	<li>postal address or telephone number(s)</li>
	<li>nationality or immigration status</li>
	<li>educational institutions attended</li>
</ul>
<p>If you are a civil servant don’t mention your employee number or department.</p>
<p>Further information is available on <%= link_to "GOV.UK", "https://civilservice.blog.gov.uk/2015/12/01/name-blind-recruitment-responding-to-your-comments/"%>.</p>